<form method="post" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
</form>

<script>
  const phoneInputField = document.querySelector("#phone-input");
  if (phoneInputField) {
      window.intlTelInput(phoneInputField, {
          initialCountry: "auto",
          geoIpLookup: function(callback) {
              fetch('https://ipinfo.io/json?token=f8e819279e0ad8')
                  .then((resp) => resp.json())
                  .then((resp) => callback(resp.country))
                  .catch(() => callback('us'));
          },
          utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
      });
  }
</script>
