<!-- {# templates/employees/social_media_embed.html #}

<div class="social-embed-widget">
    {% if instance.title %}
        <h3>{{ instance.title }}</h3>
    {% endif %}
    <div class="embed-code">
        {{ instance.embed_code|safe }}
    </div>
</div> -->


<!-- templates/employees/social_media_embed.html -->
<div class="reel social-embed-widget">
  {% if instance.title %}
    <h3>{{ instance.title }}</h3>
  {% endif %}
  <div class="embed-code">
    {{ instance.embed_code|safe }}
  </div>
</div>
